#products {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: dodgerblue;
  padding: 10px;
}
#products div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}
header {
  background-color: #b7b935;
  padding: 10px;
  text-align: center;
  border: 1px solid black;
  height: 50px;
  width: 100%;
}