* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: hsl(0, 8%, 97%);
    padding: 30px;
}

.container {
    max-width: 1000px;
    margin: auto;
    background: rgb(209, 209, 211);
    padding: 30px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}


/* form ki details */

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.input-box {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input,
select {
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #333;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #555;
}

#addBtn {
    grid-column: 1 / 3;
}


/* Search box banane k liye */

#search {
    width: 100%;
    margin: 25px 0;
}


/* Statistics show krne k liye */

.stats {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
}

.stats div {
    border: 1px solid #ddd;
    padding: 15px;
    width: 200px;
    border-radius: 5px;
}

.stats h3 {
    font-size: 16px;
}

.stats p {
    font-size: 24px;
    font-weight: bold;
    margin-top: 5px;
}

/* table ki styleing karne ke liye */


table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background: #eee;
}

.edit {
    background: #3498db;
    margin-right: 5px;
}

.delete {
    background: #e74c3c;
}